/* - - - - - - -
 GENERAL 
- - - - - - - */


.grid-container {
	padding-left: 1em;
	padding-right: 1em;	
}
section {
	padding-top: 4em;
	padding-bottom: 4em;
}
.part {
	margin-bottom: 3em;
}
.block h2  {
	border-top-width: 0.25em;
	border-top-style: solid;
	border-top-color: #00BBFF;
	padding-top: .3em;
	display: inline-block;
}
#contact {
	padding-bottom: 8em;
}
.sq-invisible {
	color: white; margin-bottom: -.3em; line-height: 1;
}
.sq-border {
	min-height: calc(100vh - 1.2em);
}
/* Medium and up */
@media screen and (min-width: 40em) {
	.grid-container {	}	
	section {
		padding-top: 5em;
		padding-bottom: 5em;
	}
	.part {
		margin-bottom: 3.75em;
	}
	#contact {
		padding-bottom: 10em;
	}
}

h2 + h4.subtle {
	margin-bottom: 3em;
}
h3.with-number {
	position: relative;
}
h3.with-number .number {
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
	position: relative;
	top: -0.1em;
	margin-right: 0.5em;
	
	border-radius: 3em;
	text-align: center;
	vertical-align: middle;
	line-height: 1.5em;
	font-size: 0.6em;
	color: white;
	
	background-color: rgba(17,17,68,.25);
	
}
@media screen and (min-width: 40em) {
	h3.with-number .number {
		position: absolute;
		top: .5em;
		left: -2em;
	}
}


/* - - - - - - -
 NAV 
- - - - - - - */

#nav {
	text-align: right;
	padding-top: .3em;
	font-family: 'Source Sans Pro', sans-serif; 
	font-weight: 700;  	
}
	#nav span { opacity: .25; }
	#nav a.active {
		border-bottom: 0.15em solid #111144;
		padding-bottom: 25px
	}

.sq-logo {
	display: inline-block;
	transform: scale(1, 1);
	transition: all 0.15s ease;
	padding-bottom: 0.6em;
}
/*.sq-logo:hover {
	transform: scale(1.05, 1.05);
	transition: all 0.15s ease;
}
.sq-logo:active {
	transform: scale(0.97, 0.97);
	transition: all 0 ease;
}*/
.sq-logo img {
	width: 10em;
}
@media screen and (min-width: 40em) {
	.sq-logo img {
		width: 12.5em;
	}
}


/* - - - - - - -
 CLAIM 
- - - - - - - */
#claim h1 { 
	opacity: 0.85; 
	-webkit-transition: width 2s; /* Safari */
   transition: width 2s;
}
#claim .text-center { margin-top: 2em;}

/* - - - - - - -
 TRUSTED BY
- - - - - - - */
#trusted-by {
	
}
#trusted-by .logo-group {
	
}
#trusted-by .logo-group .cell {
	padding: 1em;
	opacity: 0.5;

}
.logo-group .cell {
	text-align: center;
	width: auto;
	
}
.logo-group .cell img {
	width: 4em;
}
.logo-group .logo-csob img  {
	height: 2.5em;
}
.logo-group .logo-jack img {
	width: 4.5em;
}
.logo-group .logo-fundlift img {
	width: 5em;
}
.logo-group .logo-kontentino img  {
	width: 6em;
}



/* - - - - - - -
 CHIP
- - - - - - - */

.chip {
	display: inline-block;
	margin-bottom: 0.5em; margin-right: 0.3em;
	background-color: rgba(17,17,68,.1);
	padding: .1em .5em;
	border-radius: 2px;
}
.chin .brand {
	
	
}
.chip .desc {
	margin-top: -.2em;
	font-size: 0.6em;
	display: block;
	font-weight: 400;
	margin-bottom: 0.2em;
}
.chip {
	clear: both;
}

/* - - - - - - -
 HOW WE WORK 
- - - - - - - */

#how-we-work .part .i-wrap {
	color: #00BBFF;
	display: block;
	margin-bottom: 1em;
	
}
#how-we-work  h3 {
	
}

/* - - - - - - -
 TEAM 
- - - - - - - */
#team img {
	width: 4em;
	border-radius: 100%;
	-webkit-filter: grayscale(1);
	margin-bottom: 0.5em;
}
.member-chip {
	width: 1em;
	border-radius: 100%;
	-webkit-filter: grayscale(1);
	margin-bottom: 0.5em;
	display: inline-block;
	margin-top: -.5em;
	margin-bottom: -.3em;
	
}
@media screen and (max-width: 39.9375em) and (min-width: 360px) {
	#team img {float: left;}
	#team .person h4 { margin-left: 5rem;}
	#team .person p { margin-left: 5rem;}
}
@media screen and (min-width: 40em) {
	#team img { width: 5em; }
}
/* - - - - - - -
 CONTACT 
- - - - - - - */
#contact .open-email {
	font-size: 0.8em;
}


/* - - - - - - -
 FOOTER 
- - - - - - - */


/* - - - - - - -
 BUSINESS CARD
- - - - - - - */
.business-card .grid-y {
	height: 100vh;
}
.business-card .sq-logo img {
	width: 6em;
} 
.business-card .position {
	position: relative;
	top: -0.5em;
}
.business-card h4 {
	margin: 0;
}
.business-card img.photo {
	width: 15vh;
	border-radius: 10em;
	float: right;
}
.business-card img.qrcode {
	
	display: block;
	vertical-align: bottom;
	width: 25vh;
}
@media screen and (min-width: 40em) {
	.business-card .sq-logo img {
		width: 7.5em;
		
	}
}

/* - - - - - - -
 FONTS 
- - - - - - - */

.small-caps {	}
a, p { line-height: 1.2; font-family: 'Source Sans Pro', sans-serif; }
p { color: rgba(17,17,68,.7); }
p b { color: rgba(17,17,68,1); }
h1, h2 { font-family: 'bungee', 'Teko', sans-serif; /*font-weight: 700;*/ line-height: 1.25; color: #111144;}
h3, h4 { font-family: 'Source Sans Pro', sans-serif; font-weight: 700; color: #111144;}
h2 { margin-bottom: 0.5em;}

h1.subtle, h2.subtle, h3.subtle, h4.subtle { font-weight: 400; }
h1 .subtle, h2 .subtle, h3 .subtle, h4 .subtle { font-weight: 400; }

p				 			{ font-size: 16px; } 
h4, #nav  		{ font-size: 20px; }
h3	 					{ font-size: 25px; }
h2 						{ font-size: 31px; }
h1 						{ font-size: 39px; }
p.small 			{ font-size: 13px; }

/* Medium and up */
@media screen and (min-width: 40em) {
	p		 				{ font-size: 20px; }
	h4,#nav 		{ font-size: 25px; }
	h3 					{ font-size: 31px; }
	h2 					{ font-size: 39px; }
	h1 					{ font-size: 49px; }
	p.small 		{ font-size: 16px; }
	ol 					{ margin-left: 0rem; }
}
@media screen and (max-width: 390px) {
	
}


/* BUTTONS & LINKS */
a.link {
	transition: all 0.15s ease;
	color: rgba(255,86,34,1); 
}
a.link:hover {
	transition: all 0.15s ease;
	color: rgba(187,0,69,1);
}
a.link.active {
	color: #111144;
}
a.btn {
	position: relative;
	display: inline-block;
	font-weight: 500;
	padding: 0.5em .7em 0.55em;
	color: #fff; 
	background-color: rgba(255,86,34,1);
	border-radius: 3px;
	font-weight: 400;
	margin-bottom: 0.2em;
}
a.btn:hover {
	transition: all 0.3s ease;
	position: relative;
	background-color: rgba(187,0,69,1);
}
a.btn:active {
	/*color:white;
	background-color: #ffa200;*/
	position: relative;
	top: 2px;
	transition: all 0.3s ease;
}
a.btn .fa-external-link-square {
	position: relative;
	top: -0.3em;
	left: .4em;
	
}
a.btn.lite {
	padding: calc(0.5em - 2px) calc(0.7em - 2px) calc(0.55em - 2px);
	background-color: inherit;
	color: rgba(255,86,34,1);
	border: 2px solid rgba(255,86,34,.5);
	border-radius: 3px;
}
a.btn.lite:hover {
	color: rgba(187,0,69,1);
	border: 2px solid rgba(187,0,69,1);
}
a.btn .out {
	display: inline;
	position: absolute;
	top: -.4em;
	right: -.4em;
	z-index: 10;
	}
.btn.large {
	font-size: 20px;
}
/* Medium and up */
@media screen and (min-width: 40em) {
	.btn.large		 	{ 
		font-size: 25px; 
		border-radius: 2px;
	}
}



/* Phones */
@media screen and (max-width: 400px) {
	
}
/* more than 1200px */
@media print, screen and (min-width: 75rem) {

}




/* Old Foundation Visibility Classes */
@media screen and (max-width: 39.9375em) {
  .hide-for-small-only {
    display: none !important; } }

@media screen and (max-width: 0em), screen and (min-width: 40em) {
  .show-for-small-only {
    display: none !important; } }

@media screen and (min-width: 40em) {
  .hide-for-medium {
    display: none !important; } }

@media screen and (max-width: 39.9375em) {
  .show-for-medium {
    display: none !important; } }

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .hide-for-medium-only {
    display: none !important; } }

@media screen and (max-width: 39.9375em), screen and (min-width: 64em) {
  .show-for-medium-only {
    display: none !important; } }

@media screen and (min-width: 64em) {
  .hide-for-large {
    display: none !important; } }

@media screen and (max-width: 63.9375em) {
  .show-for-large {
    display: none !important; } }

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .hide-for-large-only {
    display: none !important; } }

@media screen and (max-width: 63.9375em), screen and (min-width: 75em) {
  .show-for-large-only {
    display: none !important; } }

