/* - - - - - - -
 GENERAL 
- - - - - - - */

body {
	padding: 0.6em;	
	background: linear-gradient(to bottom, rgba(255,86,34,1) 0%, rgba(255,86,34,1) 49%, rgba(187,0,69,1) 49.01%, rgba(187,0,69,1) 51%, rgba(0,187,255,1) 51.01%, rgba(0,187,255,1) 100%);
}
.grid-container {
	padding-left: 1em;
	padding-right: 1em;	
}
.white {
	background-color: white;
	margin-bottom: 0.2em;
}
.white:last-child {
	margin-bottom: 0;
}
section.white {
	padding-top: 3em;
	padding-bottom: 3em;
}
.sq-invisible {
	color: white; margin-bottom: -.3em; line-height: 1;
}
.sq-border {
	min-height: calc(100vh - 1.2em);
}
.has-margin {
	margin-bottom: 2em;
}
/* Medium and up */
@media screen and (min-width: 40em) {
	body {padding: 0.75em;}
	.grid-container {
		padding-left: 2em;
		padding-right: 2em;
	}
	.white { margin-bottom: 0.25em; }
	.white:last-child {	margin-bottom: 0;}
	.sq-border { min-height: calc(100vh - 1.5em); }
	
}


/* - - - - - - -
 NAV 
- - - - - - - */

#nav {
	text-align: right;
	padding-top: .55em;
	padding-bottom: 1em;
}
	#nav span { opacity: .25; position: relative; top: .1em; }
	#nav h3, #nav h3 a { font-family: 'Teko', sans-serif; font-weight: 700; line-height: 1; }

.sq-brand {
	display: inline-block;
	transform: scale(1, 1);
	transition: all 0.15s ease;
}
.sq-brand:hover {
	transform: scale(1.05, 1.05);
	transition: all 0.15s ease;
}
.sq-brand:active {
	transform: scale(0.97, 0.97);
	transition: all 0 ease;
}
.sq-symbol 		{ height: 3em; margin-right: .5em;}
.sq-logo 			{ width: 5em; }
/* Medium and up */
@media screen and (min-width: 40em) {
	#nav 				{ padding-top: 0.6875em; padding-bottom: 1.25em; }
		#nav span { margin-left: 2%; margin-right: 2%;}
	.sq-symbol 	{ height: 3.75em; margin-right: .625em; }
	.sq-logo 		{ width: 6.25em; }
}


@media screen and (max-width: 380px) {
	.sq-brand .sq-logo {
		position: absolute;
		left: 2.2em;
		top: 0.85em;
		transform: scale(1.2, 1.2) rotate(-90deg);

	}
}

/* - - - - - - -
 CLAIM 
- - - - - - - */
#claim h2 { color: rgba(0,187,255,1); }

/* - - - - - - -
 FOOTER 
- - - - - - - */
#footer {
	padding-bottom: 1em;
}
#footer .heart {
	color:  rgba(187,0,69,1);
	font-size: 80%;
}

/* Medium and up */
@media screen and (min-width: 40em) {


}


/* - - - - - - -
 FONTS 
- - - - - - - */

.small-caps {	}
a, p { line-height: 1.2; font-family: 'Source Sans Pro', sans-serif; }
p { color: rgba(17,17,68,.7); }
h1, h2 { font-family: 'Teko', sans-serif; font-weight: 700; line-height: 1.25; color: #111144;}
h3, h4 { font-family: 'Source Sans Pro', sans-serif; font-weight: 700; color: #111144;}


h1.subtle, h2.subtle, h3.subtle, h4.subtle { font-weight: 400; }
h1 .subtle, h2 .subtle, h3 .subtle, h4 .subtle { font-weight: 400; }

p 						{ font-size: 16px; } 
h4, #nav a 		{ font-size: 20px; }
h3	 					{ font-size: 25px; }
h2 						{ font-size: 31px; }
h1 						{ font-size: 39px; }
p.small 			{ font-size: 13px; }

/* Medium and up */
@media screen and (min-width: 40em) {
	p		 			{ font-size: 20px; }
	h4,#nav a		{ font-size: 25px; }
	h3 					{ font-size: 31px; }
	h2 					{ font-size: 39px; }
	h1 					{ font-size: 49px; }
	p.small 		{ font-size: 16px; }
}


/* BUTTONS & LINKS */
a.link {
	transition: all 0.15s ease;
	color: rgba(255,86,34,1); 
}
a.link:hover {
	transition: all 0.15s ease;
	color: rgba(187,0,69,1);
}
a.btn {
	position: relative;
	display: inline-block;
	font-weight: 500;
	padding: 0.5em .7em;
	color: #fff; 
	background-color: rgba(255,86,34,1);
	border-radius: 1px;
	font-weight: 700;
}
a.btn:hover {
	transition: all 0.3s ease;
	position: relative;
	background-color: rgba(187,0,69,1);
}
a.btn:active {
	/*color:white;
	background-color: #ffa200;*/
	position: relative;
	top: 2px;
	transition: all 0.3s ease;
}
a.btn.square {
	padding: 0.7em 0em 0em;
	width: 4.5em;
	height: 4.5em;
	margin-bottom: .5em;
}
a.btn.square i {	}
a.btn .out {
	display: inline;
	position: absolute;
	top: -.4em;
	right: -.4em;
	z-index: 10;
	}




/* Phones */
@media screen and (max-width: 380px) {

}
/* more than 1200px */
@media print, screen and (min-width: 75rem) {

}


